# Docker Files
Dockerfile
.dockerignore
docker-compose.yml

# Python Project
.idea/
venv/
.venv/
__pycache__/
build/
dist/
examples/
*.egg-info/
config.yml
config.yaml

# Git Files
.git/
.gitignore
