# Docker Files
Dockerfile
.dockerignore
docker-compose.yml

# Python Project
.idea/
venv/
.venv/
__pycache__/
build/
dist/
examples/
ext/
*.egg-info/
config.y*ml

# Git Files
.git/
.github/
.gitignore
